.card-block {
    min-height: 300px;
}
.portfoliocards { 
    display: flex;    
    overflow-x: auto;
    
}
.portfoliocards card {    
  margin-right: 30px;
}
.portfoliocards card,
.portfoliocards:focus,
.portfoliocards:hover {    
 visibility: visible;
}
@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .tcontainer{
    width: 100%;
    overflow: hidden;
    
  }
  .ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: #eee;
    height:20%;
  }
  .ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 110s;
  }
  .ticker-move:hover{
    animation-play-state: paused;
  }
  .ticker-item{
    display: inline-block;
    padding: 0 1rem;
  }
  .vl{
    display:inline-block;
    margin-top:6px;
  
  }
  .card-block {
    min-height: 300px;
}
.watchlistcards { 
    display: flex;    
    overflow-x: auto;
    
}
.watchlistcards card {    
  margin-right: 30px;
}
.watchlistcards card,
.watchlistcards:focus,
.watchlistcards:hover {    
 visibility: visible;
}
#load{
  width:100%;
  height:100%;
  position:fixed;
  z-index:9999;
 background:url("https://www.kodeclust.com/assets/images/preloader.gif") no-repeat center center;
 background-color: white;
 
}
.dropdown-item:hover{
  background:darkslategrey;
  color: white
}