#list-item-a,
#list-item-b,
#list-item-e,
#list-item-f{
  display: flex;    
    overflow-x: auto;
}
#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
   background:url("http://service.pick1.com/Generali/pick1-popup-survey/loader.gif") no-repeat center;
   
    
}